<section id="contact">
    <img src="img/igpic.jpg" class="img-fluid" alt="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Send us an email and we will get back to you as soon as possible!</p>
            </div>
         <div class="col-5 col-md-4 text-center">
            <a href="https://www.instagram.com/{{ site.instagram_username }}">
                <i class="fab fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                
            </a>
        </div>
        <div class="col-5 col-md-4 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                
            </a>
        </div>
        <div class="col-5 col-md-4 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
               
            </a>
        </div>

    </div>
</section>
