<nav id="mainNav" class="navbar navbar-default navbar-expand-md fixed-top navbar-light site-navigation">
    
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top">Hickphot</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav ml-auto">
                    <li class="navbar-space-margin">
                        <a class= "nav-link page-scroll" href="#services">Services</a>
                    </li>
                    <li class="navbar-space-margin">
                        <a class= "nav-link page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="navbar-space-margin">
                        <a class= "nav-link page-scroll" href="#contact">Contact</a>
                    </li>
            </ul>
        

       
    </div>
</nav>
