<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter1">
                    <img src="img/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photography
                            </div>
                            <div class="project-name">
                                NZ - Travel
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="modal fade video-modal" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">New Zealand</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                            <p> </p>
                            <img src="img/portfolio/nz/1.jpg" class="img-fluid" alt="fdfdfdfd" width="750" height="1250">
                            
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                 </div>
                </div>
        </div>

            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter2">
                    <img src="img/portfolio/2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Video Production
                            </div>
                            <div class="project-name">
                                11 12 13
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="modal fade video-modal" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">11 12 13</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-center">
                                <p> A Short Film showcasing one night in Mark's life </p>
                                <div class="videoWrapper">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/nN3Ed0I23DM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <p> Written By James Brazel
                                        Directed By Jack Riley 
                                        Cinematogrpahy By Jye Currie
                                       Produced By Luke Ireland
                                    Edited By Hickphot & Ollie Bates</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                     </div>
                    </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter3">
                    <img src="img/portfolio/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Music
                            </div>
                            <div class="project-name">
                                Craterface
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="modal fade video-modal" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">LEXAPRO - Craterface</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                            <p>Directed by Craterface/Sam Woolcock Shot by Hickphot</p>
                            <div class="videoWrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_cQfdl-JGmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>   
                        </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                 </div>
                </div>
        </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter4">
                    <img src="img/portfolio/4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                3D
                            </div>
                            <div class="project-name">
                                Blender Test
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="modal fade video-modal" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Blender Scene Animation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                            <p></p>
                            <div class="videoWrapper">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/7EQrVh2gKkQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                 </div>
            </div>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter5">
                    <img src="img/portfolio/5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Photography
                            </div>
                            <div class="project-name">
                                Portraits
                            </div>
                        </div>
                    </div>
                </a>
    
            </div>
            <div class="modal fade video-modal" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Portrait Photography</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="img/portfolio/portraits/1.jpg" class="img-fluid" alt="fdfdfdfd" width="750" height="1250">
                        <img src="img/portfolio/portraits/2.jpg" class="img-fluid" alt="fdfdfdfd" width="750" height="1250">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                 </div>
                </div>
        </div>
            
            
            
            

            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" data-toggle="modal" data-target="#exampleModalCenter6">
                    <img src="img/portfolio/6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Video Production
                            </div>
                            <div class="project-name">
                                Project Depression
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="modal fade video-modal" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">My Flawless World - Short Film</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  
                    <div class="modal-body text-center">
                            <p>Written by Leonard Tong / Edited by Frederick Tan / Shot by Hickphot</p>
                            <div class="videoWrapper">
                               <iframe width="560" height="315" src="https://www.youtube.com/embed/jizmNB2bdgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                 </div>
             </div>
            
        </div>
    </div>
</section>
